# Access transformer for NeoForge 1.21.1.

# Fields
public net.minecraft.client.multiplayer.ClientLevel levelRenderer
public net.minecraft.client.color.block.BlockColors blockColors
public net.minecraft.client.renderer.texture.TextureAtlas mipLevel
public net.minecraft.client.gui.components.BossHealthOverlay events
public net.minecraft.client.multiplayer.MultiPlayerGameMode connection
public net.minecraft.client.renderer.RenderType$CompositeRenderType state
public net.minecraft.client.renderer.RenderType$CompositeState textureState
public net.minecraft.world.level.block.StairBlock baseState
public net.minecraft.client.renderer.LightTexture lightTexture
public com.mojang.blaze3d.systems.RenderSystem$AutoStorageIndexBuffer name

# Methods
public net.minecraft.client.renderer.texture.MipmapGenerator alphaBlend(IIIIZ)I
public net.minecraft.client.renderer.GameRenderer getFov(Lnet/minecraft/client/Camera;FZ)D
