# Access transformer for NeoForge 1.21.1.

# Fields
public net.minecraft.client.multiplayer.ClientLevel levelRenderer
public net.minecraft.client.color.block.BlockColors blockColors
public net.minecraft.client.renderer.texture.TextureAtlas mipLevel
public net.minecraft.client.multiplayer.MultiPlayerGameMode connection
public net.minecraft.world.level.block.StairBlock baseState
public net.minecraft.client.renderer.LightTexture lightTexture
